<section class="main-services services">
    <div class="services-wrap">
        <h2>Наши услуги</h2>
        <table class="services-wrapper">
            <tr>
                <td class="services-name">
                    Консоль двусторонняя несветовая
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Консоль двусторонняя с подсветкой
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Световой короб
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">

                    Объемная буква
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Плоская буква
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Листовки в транспорте (за 1 транспортное средство) монтаж, демонтаж, размещение включены в цену
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Стикеры в транспорте
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Оформление шарами (*при заказе от 2000 руб. доставка бесплатно )
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>
            <tr>
                <td class="services-name">
                    Брендирование шаров (тираж от 100 штук)
                </td>
                <td class="services-price">
                    от 4500 руб./ шт.
                </td>
            </tr>    
        </table>
    </div>
</section>