<section class="completed-projects black-bg">
        <h3>Реализованные проекты</h3>
        <div class="glide projects-glide main-number__wrap">
            <div data-glide-el="track" class="glide__track">
                <ul class="completed-projects__wrap glide__slides">
                    <li class="completed-projects__item glide__slide">
                        <div class="completed-projects__img">
                            <img src="/i/completed-projects-1.jpg" alt="">
                        </div>
                        <div class="completed-projects__text">
                            <p class="completed-projects__date">1 августа 2019</p>
                            <h4>Вывески и консоли для сети столовых “застолье”</h4>
                            <p>Для новой сети вкусных столовых «Застолье» изготовлены 5 световых вывесок по бренд-буку
                                Заказчика и 5
                                световых консолей, разработанных дизайнерами компании «РЕЗОН». Консоли выполнены в виде
                                стилизованной
                                вилки со стрелкой, оригинальной сложной формы.</p>

                            <p>Световые вывески выполнены в виде конструкции из отдельных световых букв на металлическом
                                каркасе в цвет
                                фасада здания, и полностью соответствуют схеме размещения рекламно-информационных,
                                разработанных
                                Архитектурой г. Ростова-на-Дону конструкций.</p>

                            <p>Все изделия были выполнены в кратчайшие сроки к открытию новых столовых, с неизменно
                                высоким
                                качеством и
                                яркостью свечения.</p>
                            <p>Заказчик доволен работой, партнерские отношения продолжаются, впереди еще много новых
                                открытий!</p>
                        </div>
                    </li>
                    <li class="completed-projects__item glide__slide">
                        <div class="completed-projects__img">
                            <img src="/i/completed-projects-1.jpg" alt="">
                        </div>
                        <div class="completed-projects__text">
                            <p class="completed-projects__date">1 августа 2019</p>
                            <h4>Вывески и консоли для сети столовых “застолье”</h4>
                            <p>Для новой сети вкусных столовых «Застолье» изготовлены 5 световых вывесок по бренд-буку
                                Заказчика и 5
                                световых консолей, разработанных дизайнерами компании «РЕЗОН». Консоли выполнены в виде
                                стилизованной
                                вилки со стрелкой, оригинальной сложной формы.</p>

                            <p>Световые вывески выполнены в виде конструкции из отдельных световых букв на металлическом
                                каркасе в цвет
                                фасада здания, и полностью соответствуют схеме размещения рекламно-информационных,
                                разработанных
                                Архитектурой г. Ростова-на-Дону конструкций.</p>

                            <p>Все изделия были выполнены в кратчайшие сроки к открытию новых столовых, с неизменно
                                высоким
                                качеством и
                                яркостью свечения.</p>
                            <p>Заказчик доволен работой, партнерские отношения продолжаются, впереди еще много новых
                                открытий!</p>
                        </div>
                    </li>
                    <li class="completed-projects__item glide__slide">
                        <div class="completed-projects__img">
                            <img src="/i/completed-projects-1.jpg" alt="">
                        </div>
                        <div class="completed-projects__text">
                            <p class="completed-projects__date">1 августа 2019</p>
                            <h4>Вывески и консоли для сети столовых “застолье”</h4>
                            <p>Для новой сети вкусных столовых «Застолье» изготовлены 5 световых вывесок по бренд-буку
                                Заказчика и 5
                                световых консолей, разработанных дизайнерами компании «РЕЗОН». Консоли выполнены в виде
                                стилизованной
                                вилки со стрелкой, оригинальной сложной формы.</p>

                            <p>Световые вывески выполнены в виде конструкции из отдельных световых букв на металлическом
                                каркасе в цвет
                                фасада здания, и полностью соответствуют схеме размещения рекламно-информационных,
                                разработанных
                                Архитектурой г. Ростова-на-Дону конструкций.</p>

                            <p>Все изделия были выполнены в кратчайшие сроки к открытию новых столовых, с неизменно
                                высоким
                                качеством и
                                яркостью свечения.</p>
                            <p>Заказчик доволен работой, партнерские отношения продолжаются, впереди еще много новых
                                открытий!</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="projects-slider__button" data-glide-el="controls">
                <button class="projects-slider__btn slider-btn__left" data-glide-dir="<"><img src="/i/white-arrow-left.svg" alt=""></button>
                <button class="projects-slider__btn slider-btn__right" data-glide-dir=">"><img src="/i/white-arrow-right.svg" alt=""></button>
              </div>
        </div>
        <div class="main-wokr__btn projects-slider__btn">
            <a href="#" class="yellow-btn">Узнать стоимость</a>
        </div>
</section>