<section class="main-text">
    <div class="main-text__wrap">
        <img src="/i/main-text__img.jpg" alt="">
        <p>Реклама – двигатель торговли, а рекламная вывеска – это лицо компании. А чтобы это лицо выглядело достойно и
            привлекало внимание потенциальных покупателей, нужно доверить его изготовление компетентным специалистам.
            Конечно, в Ростове-на-Дону можно купить вывеску стандартного вида, но она не будет в полной мере отражать
            имидж компании и ее уникальность. РА «РЕЗОН» предлагает вам свои услуги по изготовлению оригинальных и
            стильных рекламных материалов, таких, как:</p>
        <p class="read-more__btn">Читать далее</p>
        <p class="read-more hidden">Реклама – двигатель торговли, а рекламная вывеска – это лицо компании. А чтобы это
            лицо
            выглядело достойно и привлекало внимание потенциальных покупателей, нужно доверить его изготовление
            компетентным специалистам. Конечно, в Ростове-на-Дону можно купить вывеску стандартного вида, но она не
            будет в полной мере отражать имидж компании и ее уникальность. РА «РЕЗОН» предлагает вам свои услуги по
            изготовлению оригинальных и стильных рекламных материалов, таких, как:</p>
    </div>
</section>