<section class="gratitude">
    <div class="gratitude-wrapper container">
        <div class="glide gratitude-glide">
            <div data-glide-el="track" class="glide__track">
                <ul class="gratitude__wrap glide__slides">
                    <li class="gratitude__item glide__slide">
                        <div class="gratitude-text">
                            <h5>Ростелеком</h5>
                            <div class="gratitude-text__wrap">
                                <p>Уважаемый Дмитрий Анатольевич!</p>

                                <p>ОАО “Ростелеком” выражает благодарность компании “Резон” за плодотворное
                                    сотрудничество в
                                    реализации проекта по изготовлению и монтажу световых конструкций на фасадах
                                    сервисных
                                    центров ОАО “Ростелеком” в Ростовской области.</p>

                                <p>За время сотрудничества коллектив ООО “Резон” показал себя высококвалифицированной
                                    командой
                                    профессионалов, способных оперативно, качественно и технически грамотно решать любые
                                    вопросы.</p>

                                <p>Желаем вам успехов и процветания. Надеемся на дальнейшее плодотворное сотрудничество.
                                </p>
                            </div>
                            <div class="gratitude-autor">
                                <p>Директор Ростовского филиала ОАО “Ростелеком”</p>
                                <p>С.М. Алхасов
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="gratitude__item glide__slide">
                        <div class="gratitude-text">
                            <h5>Ростелеком</h5>
                            <div class="gratitude-text__wrap">
                                <p>Уважаемый Дмитрий Анатольевич!</p>

                                <p>ОАО “Ростелеком” выражает благодарность компании “Резон” за плодотворное
                                    сотрудничество в
                                    реализации проекта по изготовлению и монтажу световых конструкций на фасадах
                                    сервисных
                                    центров ОАО “Ростелеком” в Ростовской области.</p>

                                <p>За время сотрудничества коллектив ООО “Резон” показал себя высококвалифицированной
                                    командой
                                    профессионалов, способных оперативно, качественно и технически грамотно решать любые
                                    вопросы.</p>

                                <p>Желаем вам успехов и процветания. Надеемся на дальнейшее плодотворное сотрудничество.
                                </p>
                            </div>
                            <div class="gratitude-autor">
                                <p>Директор Ростовского филиала ОАО “Ростелеком”</p>
                                <p>С.М. Алхасов
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="gratitude-slider__button slider__btn" data-glide-el="controls">
                <button class="gratitude-slider__btn  slider-btn__left" data-glide-dir="<"><img
                        src="/i/black-arrow-left.svg" alt=""></button>
                <button class="gratitude-slider__btn slider-btn__right" data-glide-dir=">"><img
                        src="/i/black-arrow-right.svg" alt=""></button>
            </div>
            <div class="glide__bullets slider__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
            </div>
        </div>
        <div class="charter glide">
            <div data-glide-el="track" class="glide__track">
                <ul class="charter__wrap glide__slides">
                    <li class="charter__item glide__slide">
                        <img src="/i/charter.png" alt="">
                    </li>
                    <li class="charter__item glide__slide">
                        <img src="/i/charter.png" alt="">
                    </li>
                    <li class="charter__item glide__slide">
                        <img src="/i/charter.png" alt="">
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>