<section class="main-gray__block gray__bg">
    <div class="gray__info">
        <div class="gray__item">
            <a class="gray-item__img" href="#"><img src="/i/main-gray__item--1.jpg"></a>
            <p class="text-white">Заказать рекламу и рекламные вывески</p>
            <a href="#"><img src="/i/arrow-yellow.svg" alt=""></a>
        </div>
        <div class="gray__item">
            <a class="gray-item__img" href="#"><img src="/i/main-gray__item--2.jpg"></a>
            <p class="text-white">Заказать рекламу и рекламные вывески</p>
            <a href="#"><img src="/i/arrow-yellow.svg" alt=""></a>
        </div>
        <div class="gray__item">
            <a class="gray-item__img" href="#"><img src="/i/main-gray__item--3.jpg"></a>
            <p class="text-white">Заказать рекламу и рекламные вывески</p>
            <a href="#"><img src="/i/arrow-yellow.svg" alt=""></a>
        </div>
    </div>
</section>