<section class="reviews">
    <div class="reviews-wrapper">
        <div class="glide reviews-glide">
            <div data-glide-el="track" class="glide__track">
                <ul class="reviews__wrap glide__slides">
                    <li class="reviews__item glide__slide">
                        <img src="/i/quote.svg" alt="">
                        <p class=>Хочу выразить благодарность всему коллективу рекламного агентства “Резон”!
                            Сотрудничали во время проведения выставки “Русское поле”. Оформили павильон воздушными
                            шарами с корпоративных цветах и с изготовлением логотипа на них. Работают быстро и по
                            разумным ценам, ответственная компания, к сотрудничеству рекомендуем!</p>
                        <p class="reviews-autor">ООО Агрогео</p>
                    </li>
                    <li class="reviews__item glide__slide">
                        <img src="/i/quote.svg" alt="">
                        <p class=>Хочу выразить благодарность всему коллективу рекламного агентства “Резон”!
                            Сотрудничали во время проведения выставки “Русское поле”. Оформили павильон воздушными
                            шарами с корпоративных цветах и с изготовлением логотипа на них. Работают быстро и по
                            разумным ценам, ответственная компания, к сотрудничеству рекомендуем!</p>
                        <p class="reviews-autor">ООО Агрогео</p>
                    </li>
                    <li class="reviews__item glide__slide">
                        <img src="/i/quote.svg" alt="">
                        <p class=>Хочу выразить благодарность всему коллективу рекламного агентства “Резон”!
                            Сотрудничали во время проведения выставки “Русское поле”. Оформили павильон воздушными
                            шарами с корпоративных цветах и с изготовлением логотипа на них. Работают быстро и по
                            разумным ценам, ответственная компания, к сотрудничеству рекомендуем!</p>
                        <p class="reviews-autor">ООО Агрогео</p>
                    </li>
                </ul>
            </div>
            <div class="gratitude-slider__button slider__btn reviews-slider__btn" data-glide-el="controls">
                <button class="gratitude-slider__btn  slider-btn__left" data-glide-dir="<"><img
                        src="/i/white-arrow-left.svg" alt=""></button>
                <div class="glide__bullets slider__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                </div>
                <button class="gratitude-slider__btn slider-btn__right" data-glide-dir=">"><img
                        src="/i/white-arrow-right.svg" alt=""></button>
            </div>

        </div>
    </div>

</section>