<section class="main-info joint-info">
  <div class="container">
    <div class="joint-information">
      <div class="joint-info__text">
        <h3><span class="yellow">В</span>едущая компания на Юге России</h3>
        <p>Рекламная Фирма «РЕЗОН» была создана
          в 1993 году. С первых дней своей работы компания зарекомендовала себя как ответственного исполнителя и
          разработчика интересных идей.</p>
        <a href="" class="yellow-btn">О компании</a>
      </div>
      <div class="joint-info__wrap">
        <div class="joint-info__item">
          <img src="i/medal.svg" alt="">
          <p>Работаемс 1993 года</p>
        </div>
        <div class="joint-info__item">
          <img src="i/buildings.svg" alt="">
          <p>Изготовление и монтаж любой сложности</p>
        </div>
        <div class="joint-info__item">
          <img src="i/warehouse.svg" alt="">
          <p>У нас собственное производство</p>
        </div>
      </div>
    </div>
  </div>
</section>


