<section class="main-number">
    <div class="main-number__wrap">
        <div class="main-number__item">
            <p class="number-yellow">1</p>
            <p class="white-text">27 лет<br> успешной работы</p>
        </div>
        <div class="main-number__item">
            <p class="number-yellow">2</p>
            <p class="white-text">Гарантируем качество</p>
        </div>
        <div class="main-number__item">
            <p class="number-yellow">3</p>
            <p class="white-text">Всегда делаем <br> в срок</p>
        </div>
        <div class="main-number__item">
            <p class="number-yellow">4</p>
            <p class="white-text">Экономим ваши средства</p>
        </div>
    </div>
</section>