{% extends "layout/main.html" %}
{% set title = 'Главная' %}
{% set description = 'Описание' %}

{% block content %}
	{# {% include "components/header-slider/header-slider.html" %}
	{% include "components/why/why.html" %}
	{% include "components/why/why.html" %}
	{% include "components/services/services.html" %}
	{% include "components/advantages/advantages.html" %}
	{% include "components/testimonials/testimonials.html" %}
	{% include "components/projects/projects.html" %}
	{% include "components/logos/logos.html" %}
	{% include "components/location/location.html" %}
	{% include "components/ptext/ptext.html" %}
	{% include "components/news/news.html" %}
	{% include "components/instagram/instagram.html" %} #}
{% endblock %}
