<header class="header container-fluid">
    <div class="header-white">
      <div class="container">
        <div class="header-white__wrap">
          <div class="header-white__left">
            <div class="header-logo__wrap">
              <a href="#" class="logo"><img src="/i/logo.svg" alt="" height="52"></a>
            </div>
            <div class=" address-wrap">
              <p class="address">г. Ростов-на-Дону,<br><span class="gray">ул. Серафимовича, 53а</span></p>
            </div>
          </div>
          <div class="header-white__right">
            <div class="phone-wrap">
              <a class="phone" href="tel:+78632441914">+7 (863) 244-19-14</a><br>
              <a class="phone" href="tel:89286204460">8 (928) 620-44-60</a>
            </div>
            <div class="yellow-btn__wrap">
              <button class="yellow-btn">Оставить заявку</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="header-gray">
      <div class="container">
        <nav class="nav">
          <ul class="nav-menu">
            <li><a href="#">Наши работы</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Законодательство</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <li>
              <form class="search-form">
                <div class="search-holder">
                  <div class="circle"></div>
                  <div class="form">
                    <div class="search-button"></div>
                    <input type="text" class="search-input" placeholder="Найти" />
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </header>
  <main class="main">