<section class="main-wokr our-work">
    <div class="container-work">
        <h3>Наши работы</h3>
        <div class="our-work__wrap">
            <div class="our-work__item">
                <a href="i/service-1.jpg" class="glightbox" data-gallery="gallery1"><img src="i/service-1.jpg" alt=""></a>
                <a href="i/service-2.jpg" class="glightbox" data-gallery="gallery1"><img src="i/service-2.jpg" alt=""></a>
                <a href="i/service-3.jpg" class="glightbox" data-gallery="gallery1"><img src="i/service-3.jpg" alt=""></a>
                <a href="i/service-1.jpg" class="glightbox" data-gallery="gallery1"><img src="i/service-1.jpg" alt=""></a>
                <a href="i/service-2.jpg" class="glightbox" data-gallery="gallery1"><img src="i/service-2.jpg" alt=""></a>
                <a href="i/service-3.jpg" class="glightbox" data-gallery="gallery1"><img src="i/service-3.jpg" alt=""></a>
            </div>
        </div>
        <div class="main-wokr__btn">
            <a href="#" class="yellow-btn">Все работы</a>
        </div>
    </div>
</section>