<!-- footer -->
<footer class="footer">
	<div class="footer-contact__gray">
		<div class="footer-contact">
			<h3>Свяжитесь с нами</h3>
			<div class="footer-contact__wrapper">
				<div class="footer-contact__item">
					<p class="bold">
						Телефон
					</p>
					<div class="footer-contact__wrap">
						<a target="_blank" class="text-geray" href="tel:88632441914">8(863) 244-19-14</a>
						<a target="_blank" href="#"><img src="/i/viber.svg" alt=""></a>
						<a target="_blank" href="#"><img src="/i/whatsapp.jpg" alt=""></a>
					</div>
					<p class="bold">
						E-mail
					</p>
					<div class="footer-contact__wrap">
						<a target="_blank" class="text-geray" href="mailto:rezonr@rezonr.ru">rezonr@rezonr.ru</a>
					</div>
					<p class="bold">
						Адрес
					</p>
					<div class="footer-contact__wrap">
						<p class="text-geray">г. Ростов-на-Дону, ул. Серафимовича, 53а</p>
					</div>
					<div class="footer-contact__social">
						<a target="_blank" href=""><img src="/i/insta-black.svg" alt=""></a>
						<a target="_blank" href=""><img src="/i/facebook-black.svg" alt=""></a>
						<a target="_blank" href=""><img src="/i/classmates-black.svg" alt=""></a>
					</div>
				</div>
				<div class="footer-feedback">
					<h4>Обратная связь</h4>
					<form action="" class="form-feedback">
						<p><input type="text" name="feedback-name" id="feedback-name" placeholder="Ваше имя"></p>
						<p><input type="text" name="feedback-phone" id="feedback-phone" placeholder="Номер телефона">
						</p>
						<div class="checkbox-wrap">
							<input type="checkbox" name="feedback-checkbox" id="feedback-checkbox">
							<label for="feedback-checkbox">Согласие на обработку <a href="">персональных
									данных</a></label>
						</div>
						<input type="submit" class="yellow-btn"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-map">
		<div style="position:relative;overflow:hidden;"><a
				href="https://yandex.ru/maps/39/rostov-na-donu/?utm_medium=mapframe&utm_source=maps"
				style="color:#eee;font-size:12px;position:absolute;top:0px;">Ростов‑на‑Дону</a><a
				href="https://yandex.ru/maps/39/rostov-na-donu/house/ulitsa_serafimovicha_53a/Z0AYcQdpS0wGQFptfX5weXRiYg==/?ll=39.709291%2C47.218816&utm_medium=mapframe&utm_source=maps&z=16"
				style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Серафимовича, 53А —
				Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUY7SeDXA" width="560" height="400"
				frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
		</div>
	</div>
	<div class="footer-gray">
		<div class="footer-gray__text">
			<div class="footer-gray__wrapper">
				<p>Copyright. Все права защищены.<br>
					РА "Резон" 27 лет с заботой о клиенте!</p>
				<p class="seo"><a class=text-gray target="_blank" href="https://rbru.ru/">Продвижение сайта</a> <a
						target="_blank" href="https://rbru.ru/"><img src="/i/rocket-business.svg" alt=""></a></p>
			</div>
		</div>
		<div class="footer-gray__social">
			<a href="https://www.instagram.com/rezon_reklama/"><img src="/i/white-insta.svg" alt=""></a>
			<a href="https://www.facebook.com/rezon.reklama"><img src="/i/white-facebook.svg" alt=""></a>
			<a href="https://ok.ru/profile/553351130629"><img src="/i/white-classmates.svg" alt=""></a>
			<a href="viber://chat?number=79188544258"><img src="/i/white-viber.svg" alt=""></a>
			<a href="https://api.whatsapp.com/send?phone=79188544258"><img src="/i/whate-whatsapp.svg" alt=""></a>
		</div>
	</div>
</footer>
<!-- footer end -->