<section class="main-slider__wrap glide">
  <div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="main-slider glide__slides">
        <li class="main-slider__item main-slider__item-1 glide__slide">
          <div class="main-slider__content">
            <h2>Изготовление рекламных вывесок</h2>
            <p>Изготовление и монтаж вывесок и крышных установок любой сложности, indoor и outdoor реклама, на
              транспорте
              и др.
            </p>
            <a class="transparent-btn" href="#">Наши работы<img class="arrow-slider" src="i/arrow-slider.svg"></a>
          </div>
        </li>
        <li class="main-slider__item main-slider__item-2 glide__slide">
          <div class="main-slider__content">
            <h2>Изготовление рекламных вывесок</h2>
            <p>Изготовление и монтаж вывесок и крышных установок любой сложности, indoor и outdoor реклама, на
              транспорте
              и др.
            </p>
            <a class="transparent-btn" href="#">Наши работы<img class="arrow-slider" src="i/arrow-slider.svg"></a>
          </div>
        </li>
        <li class="main-slider__item main-slider__item-3 glide__slide">
          <div class="main-slider__content">
            <h2>Изготовление рекламных вывесок</h2>
            <p>Изготовление и монтаж вывесок и крышных установок любой сложности, indoor и outdoor реклама, на
              транспорте
              и др.
            </p>
            <a class="transparent-btn" href="#">Наши работы<img class="arrow-slider" src="i/arrow-slider.svg"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>