/* -- modal -- */

.modal-header {
	height: 90px;
	background-size: cover;
	background-image: url('/i/modal-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.modal-content {
	margin-top: 40px;
}

/* -- modal end -- */
