$dark: #26272E;
$gray: #DADADA;
$light: #EAEAEA;
$red: #ED2B33;
$blue: #0F1C61;

$font-red: #ED2B33;
$font-black: #1E2035;
$font-gray: #868686;
$font-light: #EAEAEA;
$font-light-blue: #A9AFCD;

/* ----- */

$green: #39B2B5;
$font-dark: #282828;



$font-main: 'Inter', sans-serif;

$top-bar-height: 72px;
$top-bar-height-small: 72px;
