<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="yandex-verification" content="5dcfe9abad626da5" />
	<link rel="stylesheet" href="/css/glide.core.min.css">
	<link rel="stylesheet" href="/css/glightbox.min.css">
	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/main.css">
	<!-- <link rel="icon" type="image/png" href="/i/favicon.png" sizes="64x64">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"> -->

</head>

<body>
	{% include "components/header/header.html" %}
	{% include "components/main-slider/main-slider.html" %}
	{% include "components/main-info/main-info.html" %}
	{% include "components/main-gray__block/main-gray__block.html" %}
	{% include "components/services/services.html" %}
	{% include "components/our-work/our-work.html" %}
	{% include "components/main-number/main-number.html" %}
	{% include "components/completed-projects/completed-projects.html" %}
	{% include "components/gratitude/gratitude.html" %}
	{% include "components/reviews/reviews.html" %}
	{% include "components/main-text/main-text.html" %}
	{% include "components/footer/footer.html" %}




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/glide.min.js"></script>
	<script src="/js/glightbox.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>